label.error, ul.error {
  color: red;
}

.list-no-indent {
  list-style-position: inside;
  padding-left:0;
}

.no-padding-col {
  padding-left: 0;
  padding-right: 0;
}


.success-confirmation {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;
  background-color: #F4FCEE;
  border: 2px solid #91E458;
  font-weight: bold;
}

