.winner1-row {
  background-color: #DA0;
}

.winner2-row {
  background-color: #CCC;
}

.winner3-row {
  background-color: #C07122;
}

div.jQBracket .team {
  width: 110px !important;
}

div.jQBracket .team div.label {
  font-weight: normal;
  font-size: 84%;
  text-align: left;
  color: #000;
  width: 80px !important;
}

.bubble.fourth {
  display: none;
}

#sumoTree {
  margin-bottom: 15px;
}

.sumo-input-separator {
  vertical-align: middle;
  padding-top: 7px;
}

.sumo-form, .obstacles-form {
  @media (max-width: 768px) {
    button[type=submit] {
      margin-top: 10px;
    }
  }
}