.contest-link {
  font-size: 20px;
}

.contest-list {
  padding-bottom: 15px;
}

.active-contest {
  font-weight: bold;
}

.archive-link {
  padding-bottom: 10px;
}

.dotted-link {
  border-bottom: 1px dotted #337ab7;
}
