.post {
  margin-bottom: 50px;
}

.post-content {
  position: relative;
}

.post-title {

}

.post-date {
  color: #999;
}

.post-maincontent {
  margin-top: 15px;
}

.post-actions {
  margin-top: 10px;
}

.post-actions a {
  margin-right: 10px;
  font-size: 13px;
}

.post-actions {
  color: #888;
}
